{
  "env" : "dev",
  "domain": "http://localhost:8081",
  "port" : 8081,
  "pepper" : "pepperItIs",
  "hmac_key" : "hmacGoesHere",
  "service_email" : "service@mail.com",
  "service_password" : "serv_pass",
  "database" : {
    "host" : "127.0.0.1",
    "port" : 5432,
    "user" : "user",
    "password" : "",
    "name" : "DBName"
  }
}