{
  "env" : "dev",
  "domain": "http://localhost:8081",
  "port" : 8081,
  "pepper" : "pepperItIs",
  "hmac_key" : "hmacGoesHere",
  "service_email" : "service@mail.com",
  "service_password" : "serv_pass",
  "jwt": {
      "access_secret" : "SuperSecreTAccess",
      "refresh_secret" : "SuperSecreTRefresh",
      "access_exp" : 15,
      "refresh_exp" : 7
   },
  "redis": {
    "host" : "127.0.0.1",
    "port": 6379,
    "otac": {
      "otac_prefix": "otac_",
      "otac_expire": 10
    }
  },
  "database" : {
    "host" : "127.0.0.1",
    "port" : 5432,
    "user" : "user",
    "password" : "",
    "name" : "DBName"
  }
}